PORT = 3256

# name -> secret (32 hex chars)
# head -c 16 /dev/urandom | xxd -ps
USERS = {
    "tg1": "00000000000000000000000000000000",
    "tg2": "0123456789abcdef0123456789abcdef"
}

# Tag for advertising, obtainable from @MTProxybot
# AD_TAG = "3c09c680b76ee91a4c25ad51f742267d"

# Uncommenting this do make a proxy harder to detect
# But it can be incompatible with old clients
# SECURE_ONLY = True
